[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[packages]
logquicky = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "python server.py"
dbinit = "flask db init"
dbmigrate = "flask db migrate"
dbupgrade = "flask db upgrade"
cli = "python cli.py"
